.box{
    background-color: rgb(219, 219, 219);
    border: solid rgb(189, 188, 188);
    border-width: 1px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    line-height: 200%;
    box-shadow: 1px 1px 5px grey;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 120%;
    margin: 1%;
}
.box:hover{
    box-shadow: 4px 4px 10px grey;
    border: solid rgb(136, 136, 136);
    border-width: 1px;
}
#income{
    width: 40%;
    overflow: hidden;
}
#colorEmpStatus{
    color: green;
}