body{
    background-color: rgb(24, 233, 24);
    margin: 5%;
}
.form-group{
    color: white;
    font-size: 150%;
    text-align: left;
    margin: 15%;
}
.SavingsDisplay{
    color: white;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
}