
.form-group{
    color: black;
    font-size: 150%;
    text-align: left;
    margin: 5%;
    font-family: futura;
}
.SavingsDisplay{
    color: black;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    font-family: futura;
}
.TransactionTable{
    text-align: left;
    font-size: 100%;
    font-family: futura;
}.doneButton{
    color: black;
    font-size: 150%;
    text-align: left;
    width: 6%;
    font-family: futura;
}.doneButton:hover{
    cursor: pointer;
    font-family: futura;
}.yourSavings{
    color: black;
    font-size: 200%;
    font-family: futura;
}