.pie {position: relative;display: inline-block;background-image: conic-gradient(rgba(0,0,0,1) calc(3.6deg * var(--percent)),rgba(0,0,0,0) calc(3.6deg * var(--percent)));background-blend-mode: overlay;background-position: 50% 50%;background-size: 150%;width: 5em;height: 5em;border-radius: 50%;}

/* show the percentage (thanks to Ana Tudor for the counter() trick) */
.pie--value::after {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);counter-reset: amount var(--amount);content: "$"counter(amount) ;color: #fff;text-shadow: 1px 1px 1px #000;}
.pie--disc::before {content: '';position: absolute;top: .5em;left: .5em;right: .5em;bottom: .5em;border-radius: 50%;background: #fff;}
.pie--disc::after {color: #000;text-shadow: none;}

/* demo styles
----------------------------------------------------- */
body::before {color: rgb(41, 126, 204);font-size: 150%;background-color: #f1f1f2;content: "This browser doesn't support conical graidents yet";}
@supports (background: conic-gradient(red, blue)) {body::before {content: '';}}
body {font: 90%/1.5 Arial;background: #f1f1f2;text-align: center;}
.pie {border: .0em solid #fff;box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);margin: .75rem;}
.pie:nth-child(1) {background-color: rgb(41, 126, 204);}
.pie:nth-child(2) {background-color: #fc3;}
.pie:nth-child(3) {background-color: #ac0;}
.pie:nth-child(4) {background-color: #0ac;}
.pie:nth-child(5) {background-color: #d6b;}
.big {font-size: 450%;}
.med {font-size: 150%;}
.sml {font-size: 100%;}