.pie {
    position: relative;
    display: inline-block;
    background-image: conic-gradient(#339de5 calc(3.6deg * var(--percent)),rgba(0,0,0,0) calc(3.6deg * var(--percent)));
    background-blend-mode: normal;
    background-position: 50% 50%;
    background-size: 150%;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

/* show the percentage (thanks to Ana Tudor for the counter() trick) */
.pie--value::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    counter-reset: amount var(--amount);
    content: "$"counter(amount);
    color: #fff;
    text-shadow: 1px 1px 1px #262626;
}
.pie--disc::before {
    content: '';
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    border-radius: 50%;
    background: #fff;
}
.pie--disc::after {
    color: #262626;
    text-shadow: none;
}

/* demo styles
----------------------------------------------------- */
body::before {
    color: #595959;
    font-size: 150%;
    background-color: #f1f1f2;
}
body {
    font: 90%/1.5 Arial;
    background: #f1f1f2;
    text-align: center;
}
.pie {
    border: 0.0em solid #fff;
    box-shadow: 0 0.075em 0.2em 0.05em rgba(0,0,0,.25);
    margin: 0.75rem;
}
.pie:nth-child(1) {
    background-color: #3bbf28;
}
.pie:nth-child(2) {
    background-color: #cc2d21;
}
.pie:nth-child(3) {
    background-color: #339de5;
}
.big {
    font-size: 450%;
}
.med {
    font-size: 150%;
}
.sml {
    font-size: 100%;
}