div{
    padding: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: white;
}

#header{
    background-color: rgb(24, 233, 24);
    color: white;
}

#transaction{ 
    display: inline;
}

#money{
    display: inline;

}


/* .regularity{

} */