div{
    padding: 1px;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}
#header{
    color: black;
    font-size: 200%;
}

#transaction{ 
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block
}

.form-control{
    width: 100%;
}

/* .regularity{

} */