#page {
    padding: 1px;
    /* width: 100%; */
    text-align: center;
    margin: 1%;
}

#header {
    color: black;
    font-size: 200%;
    margin: 1%;
}

#transaction { 
    margin: 1%;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;

}

.form-control {
    margin: 1%;
    width: 100%;
}

/* .regularity{

} */